html {
	background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*If you want it to work in IE*/
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

body {
    margin: 0;
}

header ul {
	display: inline-block;
    /* remove the default bullet point */
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 5vw; 
    overflow: hidden;
    width: 25vw;
}

header ul li {
	display: inline-block;
    float: left;
    /*4 items, so width of each is 25 percent*/
    width: 25%;
    margin-left: 20px;
    font-size: 20px;
}

header li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
    color: white;
    
    /*color: #333;*/
}

header li a:hover {
    color: #333;
}

header img {
	float:left;
    margin-left: 5vw;
    max-width: 10vw;
    vertical-align: text-bottom;
    /* ie8 */
}

header {
	padding: 77px 0px;
    margin: 0;
    
}

.header-background {
	background-color: black;
}
