html {
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*If you want it to work in IE*/
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

body {
    margin: 0;
}

header ul {
    /* remove the default bullet point */
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 20vh;
    text-align: bottom;
    overflow: hidden;
    width: 50vh;
}

header ul li {
	display: inline-block;
    float: left;
    /*4 items, so width of each is 25 percent*/
    width: 25%;
    font-size: 20px;
}

header li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    /*color: #333;*/
}

header li a:hover {
    color: #333;
}

header img {
	float:left;
    padding-left: 20vh;
    max-width: 20vh;
    height: auto;
    width: auto\9;
    vertical-align: text-bottom;
    /* ie8 */
}

header {
	background-color: white;
    margin: 0;
    padding-top: 77px;
}

.navbar {}
